.THIS.board {
    background: #f7fafc;
    position: relative;
}

.THIS .win-word {
    text-transform: uppercase;
    font-weight: bold;
}
.THIS .board-disabled {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: not-allowed;
}